# Ignorar cachés de Python
__pycache__/
LoRa/v1/__pycache__/*
*.pyc
*.pyo

# Ignorar archivos locales de configuración
LoRa/v1/parameters.py
LoRa/v1/main_bis.py
LoRa/v1/main_bis_2.py
LoRa/v1/datos/*

# (Opcional) Ignorar entornos virtuales
venv/
.env/

# (Opcional) Ignorar archivos temporales de tu editor
*.log
*.tmp
.vscode/
.idea/
